<% include ../partials/header %>
<br>

<div class='ui main grid container'>
  <div class="centered ten wide column fluid ui card">
    <div class="content">
      <div class="ui large right floated image">
        <img src="<%= list.image %>">
      </div>
      <div class="ui large header"><%= list.title %></div>
      <div class='ui tiny header'>By: <%= list.author.username %></div>
      <div class="meta">
        <span class="date"><%= list.date.toDateString() %></span>
      </div>
    </div>
    <div class="description">
      <%= list.description %>
    </div>

    <div class='ui inverted segment'>
      <div class='ui aligned list'>
        <div class='item'>
          <img class='ui left floated avatar image' src='<%= list.item.image %>'>
          <div class='left floated content'><%= list.item.part_a %></div>
          <div class='right floated content'><%= list.item.part_b %></div>
        </div>
      </div>
    </div>

    <div class='ui inverted segment'>
      <div class='ui aligned list'>
        <div class='item'>
          <img class='ui left floated avatar image' src='<%= list.item.image %>'>
          <div class='left floated content'><%= list.item.part_a %></div>
          <div class='right floated content'><%= list.item.part_b %></div>
        </div>
      </div>
    </div>

    <br>
    <div>
      <% if(currentUser && list.author.id.equals(currentUser._id)) { %>
        <a href='/lists/<%= list._id %>/edit' class='ui button basic orange'>
          <i class="edit icon"></i>
        </a>
        <form class='right floated' action='/lists/<%= list._id %>?_method=DELETE' method='POST' id='delete'>
          <button class='ui red basic button'>
            <i class="trash icon"></i>
          </button>
        </form>
        <a href='/lists/<%= list._id %>/comments/new' class='ui button basic blue'>
          <i class="comment outline icon"></i>
        </a>
      <% } else { %>
        <a href='/lists/<%= list._id %>/comments/new' class='ui button basic blue'>
          <i class="comment outline icon"></i>
        </a>
      <% } %>
    </div>
    <br>
    <% list.comments.forEach((comment) => { %>
      <p><strong><%= comment.author.username %></strong> - <%= comment.text %></p>
     <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
        <div class="ui mini icon buttons">
          <a href='/lists/<%= list._id %>/comments/<%= comment._id %>/edit'>
            <button class='ui blue inverted button' >
              <i class="ui blue outline edit icon"></i>
            </button>
          </a>
          <form action='/lists/<%= list._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
            <button class='ui red inverted button'>
              <i class="ui red outline trash icon"></i>
            </button>
          </form>
        </div>
      <% } %>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
